<form class="{{cssClass}} clock-block" autocomplete="off">

    <div class="flexcol blades-clock-name-type">
        {{#if editable}}
        <input type="text" id="{{id}}-clock-name" name="name" value="{{name}}">

        <select data-type="String" name="system.type">
            {{#select system.type}}
            <option value="4">4</option>
            <option value="6">6</option>
            <option value="8">8</option>
            {{/select}}
        </select>

        <div style="display: flex; flex-direction: row; flex-wrap: nowrap; justify-content: flex-end; align-items: center; gap: 4px;">
            <input class="color" type="text" name="system.color" value="{{prototypeToken.texture.tint}}">
            <input type="color" value="#fa0000" data-edit="system.color">
        </div>
        
        <select data-type="String" name="system.color">
            {{#select system.color}}
            <option value="black">Black</option>
            <option value="white">White</option>
            <option value="8">8</option>
            {{/select}}
        </select>
        
        {{/if}}

        <div class="clocks clocks-{{system.type}}">
            {{{blades-clock "system.value" system.type system.value _id}}}
        </div>
    </div>
</form>
